.header__lang-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-left: 18px;
}

.header__lang-link:first-of-type {
    margin-left: 0;
}

.header__lang-link:hover {
    color: #FFF;
    opacity: 0.8;
}

@media screen and (max-width: 320px){
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}