.photo-grid {
    width: calc(100% - 48px*2);
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    overflow: hidden;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px){
        .photo-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 225px);
            gap: 14px;
        }
    }

    @media screen and (max-width: 768px) {
        .photo-grid {
            width: calc(100% - 24px*2);
            max-width: 720px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 264px);
            gap: 16px;
            margin-bottom: 88px;
        }
    }
    
    @media screen and (max-width: 465px) {
        .photo-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 200px);
            gap: 14px;
        }
    }

    @media screen and (max-width: 320px){
        .photo-grid {
            width: 288px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(12, 216px);
            gap: 12px;
            margin-bottom: 62px;
        }
    }