.photo-grid {
    width: calc(100% - 48px*2);
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    overflow: hidden;
    }