.photo-grid {
    width: calc(100% - 48px*2);
    max-width: 1184px;
    margin: 0 auto;
    
    }



    @media screen and (max-width: 768px) {
        .photo-grid {
            width: calc(100% - 24px*2);
            max-width: 720px;
           
            margin-bottom: 88px;
        }
    }
    
    @media screen and (max-width: 465px) {
        .photo-grid {
            grid-template-rows: repeat(6, 200px);
            gap: 14px;
        }
    }

    @media screen and (max-width: 320px){
        .photo-grid {
            width: 288px;
            margin-bottom: 62px;
        }
    }