.header {
    max-width: 1184px;
    margin: 0 auto;
    padding: 28px 48px 0;
    display: flex;
    position: relative;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        width: 98%;
        max-width: 720px;
        padding: 28px 0 0 0;
    }
}

@media screen and (max-width: 320px){
    .header {
        max-width: 288px;
        padding-top: 16px;
    }
}