.place__paragraphs {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .place__paragraphs {
        max-width: 80%;
        margin: 28px auto 0;
    }
}

@media screen and (max-width: 465px) {
    .place__paragraphs {
        max-width: 288px;
        margin: 28px auto 0;
    }
}

@media screen and (max-width: 320px){
    .place__paragraphs {
        max-width: 287px;
        margin: 29px auto 0;
    }
}