.lead__title{
    width: 720px;
    margin: 56px auto 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px){
    .lead__title {
      margin-top: 48px;
    }
  }

  @media screen and (max-width: 768px) {
    .lead__title {
      width: 90%;
      font-size: 12.5vw;
      margin: 50px auto 32px;
    }
  }

  @media screen and (max-width: 465px) {
    .lead__title {
      width: 98%;
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 16px;
  }
  }