.cover {
    max-width: 1184px;
    margin: 0 auto;
    padding: 280px auto;
    position: relative;
    background-image: url(../../images/cover-background.jpg);
    background-size: cover;
}

.cover:hover:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

@media screen and (max-width: 465px) {
    .cover {
        margin: 0 auto 60px;
    }
}

@media screen and (max-width: 320px){
    .cover {
        margin: 66px auto 64px;
    }
}