.cover {
    max-width: 1184px;
    margin: 0 auto;
    padding: 280px auto;
    position: relative;
    background-image: url(../../images/cover-background.jpg); /*img + overlay экспортированы из макета одним слоем)*/
    background-size: cover;
    background-position: center;
}

.cover:hover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(42, 44, 47);
    opacity: 0.8;
}

@media screen and (max-width: 465px) {
    .cover {
        margin: 0 auto 60px;
    }
}

@media screen and (max-width: 320px){
    .cover {
        margin: 66px auto 64px;
    }
}