.cover__overlay {
    position: relative;
    display: flex;
    height: 740px;
    width: 100%;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .cover__overlay {
        max-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        max-height: 480px;
    }
}

@media screen and (max-width: 465px) {
    .cover__overlay {
        max-height: 300px;
    }
}

@media screen and (max-width: 320px){
    .cover__overlay {
        max-height: 200px;
    }
}