@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

@import url(../blocks/page/page.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

/* lead */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/* intro */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/_font/intro__list_font_bold.css);
@import url(../blocks/intro/__list/_font/intro__list_font_regular.css);

/* photo-grid */

.photo-grid {
width: calc(100% - 48px*2);
max-width: 1184px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 1.3%;
overflow: hidden;
}

.photo-grid__item {
max-width: 284px;
width: 100%;
object-fit: contain;
}

/* places */

.places {
    max-width: 984px;
    margin: 92px auto;
}

.place {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 152px 460px;
    gap: 40px;
    overflow: hidden;
}


.places__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    align-self: end;
}

.places__website {
    align-self: end;
}

.places__website_type_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
}

.places__website_type_link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFF;
}

.places__image {
    width: 100%;
    object-fit: contain;
}

.places__paragraphs {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.places__paragraph {
    margin-top: 26px;
    margin-bottom: 0;
}

.places__paragraph:first-child {
    margin-top: 0;
}