@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

@import url(../blocks/page/page.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

/* lead */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/* intro */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/_font/intro__list_font_bold.css);
@import url(../blocks/intro/__list/_font/intro__list_font_regular.css);

/* photo-grid */
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

/* places */
@import url(../blocks/places/places.css);

/* place */
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__website/_type/place__website_type_text.css);
@import url(../blocks/place/__website/_type/place__website_type_link.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__paragraphs/place__paragraphs.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);

/* cover */
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__text/cover__text.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


/* media */

@media screen and (min-width: 769px) and (max-width: 1024px){
    /* lead */
    .lead {
        max-width: 928px;
        min-width: 768px;
    }
    .lead__title {
        margin-top: 48px;
    }
    .lead__image {
        max-width: 928px;
        min-width: 768px;
        margin-top: 56px;
    }
    /* intro */
    .intro {
        max-width: 928px;
        min-width: 768px;
    }
    /* photo-grid */
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
    }
    /* places */
    .places {
        max-width: 924px;
        min-width: 720px;
    }
    .place {
        grid-template-columns: 440px auto;
        grid-template-rows: auto 440px;
        column-gap: 32px;
    }
    .place__image {
        max-width: 440px;
        min-width: 340px;
    }
    /* cover */
    .cover__text {
        margin: 195px auto;
    }
    /* footer */
    .footer {
        max-width: 928px;
        min-width: 768px;
    }
}


@media screen and (max-width: 768px) {
    .header {
        width: 98%;
        max-width: 720px;
        padding: 28px 0 0 0;
    }
      .lead__caption {
        margin-left: 24px;
    }
    .lead__title {
        width: 90%;
        font-size: 12.5vw;
        margin: 50px auto 32px;
    }
    .lead__subtitle {
        width: 83%;
        font-size: 4vw;
    }
    .lead__image {
        margin: 53px auto 8px;
    }
    
    .intro {
        width: 96%;
        max-width: 720px;
        min-width: 288px;
        margin: 88px auto;
    }
    .intro__title {
        width: 100%;
    }
    .photo-grid {
        width: calc(100% - 24px*2);
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 264px);
        gap: 16px;
        margin-bottom: 88px;
    }
    .places {
        width: 98%;
        max-width: 720px;
        margin: 90px auto;
    }
    .place {
        grid-template-columns: 47% auto;
        grid-template-rows: auto auto;
        margin-top: 74px;
        column-gap: 28px;
        row-gap: 46px;
    }
    .place__title {
        max-width: 328px;
        font-size: 42px;
        line-height: 46px;
    }
    .place__website_type_text {
        line-height: 12px;
        font-size: 1.7vw;
    } 
    .place__website_type_link {
        font-size: 2.4vw;
    }
    .place__image {
        width: 100%;
    }
    .place__paragraphs {
        font-size: 16px;
        line-height: 163%;
    }
    .place__paragraph {
        margin-top: 25px;
    }
    .cover__title {
        font-size: 9.3vw;
    }
    .cover__text {
        margin: 115px auto;
    }
    .footer {
        margin: 88px auto 0;
    }
    .footer__links {
        width: 70%;
    }
    .footer__link {
        font-size: 2.2vw;
    }
    .footer__copyright{
        font-size: 2vw;
    }  
}


@media screen and (max-width: 465px) {
    .lead__title {
        width: 98%;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
    .lead__subtitle {
        width: 98%;
        font-size: 16px;
        line-height: 20px; 
    } 
    .intro__title {
        width: 80%;
        font-size: 32px;
        line-height: 35px;
        margin: 0;
    }
    .intro__text {
        width: 100%;
        margin: 40px auto 34px;
    }
    .intro__list {
        margin-top: 0;
    }
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 200px);
        gap: 14px;
    }
    .place {
        display: flex;
        flex-direction: column;
        margin: 50px auto 0;
        padding: 0;
        row-gap: 0;
    }
    .place:first-of-type {
        margin-top: 0;
    }
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 0 20%;
    }
    .place__website {
        max-width: 288px;
        margin: 32px auto 0 20%;
    }
    .place__website_type_text {
        font-size: 4vw;
    }
    .place__website_type_link {
        font-size: 6vw;
    }
    .place__image {
        margin: 30px auto 0;
        width: 100%;
    }
    .place__paragraphs {
        max-width: 288px;
        margin: 28px auto 0;
        font-size: 16px;
    }
    .cover {
        margin: 0 auto 60px;
    }
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle{
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
     .footer__links { 
        width: 50%;
        flex-direction: column;
        padding-left: 5%;
    }
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .footer {
        max-width: 288px; 
        margin: 0 auto 0 5%;
        flex-direction: column;
     }
    .footer__copyright {
        font-size: 3vw;
    }
} 


@media screen and (max-width: 320px){
    .header {
        max-width: 288px;
        padding-top: 16px;
    }
    .heder__logo {
        max-width: 142px;
    }
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
    .lead {
        max-width: 320px;
        margin-top: 48px;
    }
    .lead__image {
        width: 100%;
        margin: 40px 0 5px;
    }
    .lead__caption {
        margin-left: 16px;
        font-size: 10px;
        line-height: 14px;
    }
    .intro {
        max-width: 288px;
        margin: 64px auto 60px;
    }
    .photo-grid {
        width: 288px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 216px);
        gap: 12px;
        margin-bottom: 62px;
    }
    .places {
        max-width: 320px;
        margin: 0 auto;
    }
    .place {
        display: block;
        margin: 50px auto 0;
        padding: 0;
    }
    .place:first-of-type {
        margin-top: 0;
    }
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto;
    }
    .place__website {
        max-width: 288px;
        margin: 32px auto;
    }
    .place__image {
        width: 100%;
        height: 320px;
        margin: 0 auto;
    }
    .place__paragraphs {
        max-width: 287px;
        margin: 30px auto 0;
        font-size: 16px;
    }
    .place__paragraph { 
        margin-top: 23px;
    }
    .cover {
        margin: 66px auto 64px;
    }
    .cover__text {
        margin: 33px auto;
    }
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle{
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    .footer {
       max-width: 288px; 
       margin: 0 auto;
       flex-direction: column;
    }
    .footer__links { 
        padding-left: 0;
        max-width: 288px;
        flex-direction: column;
    }
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .footer__copyright {
        margin-top: 16px;
        font-size: 14px;
    }
}