.place {
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: auto 460px;
    column-gap: 40px;
    row-gap:  48px;
    overflow: hidden;
    margin-top: 78px;
    grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs"
}