.footer {
    max-width: 1184px;
    width: 92,5%;
    margin: 92px auto 0;
    padding: 0 48px 24px 48px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin: 88px auto 0;
        padding: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        max-width: 288px;
        margin: 64px auto 0 5%;
        padding-left: 16px;
        flex-direction: column;
     }
}

@media screen and (max-width: 320px){
    .footer {
        margin: 0 auto;
     }
}